.product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 0 auto;
}

.product-grid__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.product-card {
  width: 277px;
  height: 484px;
  padding: 16px;
  border-radius: 16px;
  border: 1px solid rgba(241, 241, 241, 1);
}
